@use "./../../../styles/abstracts/_index" as ab;

.container {
  background-color: var(--nav-item-bg);
  border: 2px solid var(--nav-item-border-clr);
  border-radius: var(--border-radius-small);
  padding: ab.rem(8);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  align-self: center;
  gap: ab.rem(8);
  margin-top: ab.rem(16);
}

.button {
  display: flex;
  gap: ab.rem(8);
  align-items: center;
  background-color: var(--btn-enabled-bg);
  box-shadow: inset 0 0 0 2px var(--btn-border-clr);

  color: var(--clr-white-400);
  border-radius: ab.rem(8);
  border: 0;
  cursor: pointer;

  --padding: #{ab.rem(calc(ab.$project-button-padding / 1.5))};
  padding: var(--padding) ab.rem(calc(ab.$project-button-padding / 1.25));

  svg {
    width: ab.rem(24);
    height: ab.rem(24);
  }

  &--active {
    background-color: var(--clr-primary-400);
    cursor: default;
    font-weight: bold;
    color: var(--clr-white-400);

    svg {
      color: var(--clr-primary-250);
    }
  }
}
