@use "./../../../styles/abstracts/_index" as ab;

[data-theme="dark"] {
  .nav-item .icon {
    mix-blend-mode: soft-light;
  }
}

.nav-item {
  background-color: var(--nav-item-bg);
  border: 2px solid var(--nav-item-border-clr);
  text-decoration: none;
  color: inherit;
  padding: ab.rem(12);
  border-radius: var(--border-radius-small);
  display: flex;
  gap: ab.rem(12);
  box-shadow: var(--shadow-sm);
  line-height: 1;
  align-items: center;

  &:hover {
    background-color: var(--nav-item-hover-bg);
    border-color: var(--nav-item-hover-border-clr);
    box-shadow: var(--shadow-sm-hover);
    font-weight: bold;

    .icon {
      color: var(--nav-item-icon-clr-hover);
      mix-blend-mode: normal;
    }
  }

  &[data-collapsed="true"] {
    flex-direction: column;
    font-size: 1rem;
    justify-content: center;

    .icon {
      width: ab.rem(32);
      height: ab.rem(32);
    }

    .nav-item__text {
      display: none;
    }
  }
}

.nav-item--active {
  background-color: var(--clr-primary-400);
  font-weight: bold;
  color: var(--clr-white-400);
  border-color: var(--clr-primary-350);
  cursor: default;

  .icon {
    color: hsla(0, 0%, 100%, 0.75);
    mix-blend-mode: soft-light;
  }

  &:hover {
    background-color: var(--clr-primary-400);
    border-color: var(--clr-primary-350);
    --nav-item-icon-clr-hover: hsla(0, 0%, 100%, 0.75);

    .icon {
      mix-blend-mode: soft-light;
    }
  }
}

.icon {
  color: var(--nav-item-icon-clr);
  width: ab.rem(20);
  height: ab.rem(20);
  transition: height 0.3s, width 0.3s, color 0.3s;
}
