@use "./../../../styles/abstracts/_index" as ab;

[data-theme="dark"] {
  .nav-item svg {
    mix-blend-mode: soft-light;
  }
}

.nav-item {
  background-color: var(--nav-item-bg);
  border: 2px solid var(--nav-item-border-clr);
  text-decoration: none;
  color: inherit;
  padding: ab.rem(12);
  border-radius: var(--border-radius-small);
  display: flex;
  gap: ab.rem(12);
  box-shadow: var(--shadow-sm);
  line-height: 1;
  align-items: center;

  &:hover {
    background-color: var(--nav-item-hover-bg);
    border-color: var(--nav-item-hover-border-clr);
    box-shadow: var(--shadow-sm-hover);
    font-weight: bold;

    svg {
      color: var(--nav-item-icon-clr-hover);
      mix-blend-mode: normal;
    }
  }

  &[data-collapsed="true"] {
    @include ab.mq("base-lg") {
      --icon-size: #{ab.rem(32)};
      flex-direction: column;
      font-size: 1rem;
      justify-content: center;

      .nav-item__text {
        display: none;
      }
    }
  }
}

.nav-item--active {
  background-color: var(--clr-primary-400);
  font-weight: bold;
  color: var(--clr-white-400);
  border-color: var(--clr-primary-350);
  cursor: default;

  svg {
    color: hsla(0, 0%, 100%, 0.75);
    mix-blend-mode: soft-light;
  }

  &:hover {
    background-color: var(--clr-primary-400);
    border-color: var(--clr-primary-350);
    --nav-item-icon-clr-hover: hsla(0, 0%, 100%, 0.75);

    svg {
      mix-blend-mode: soft-light;
    }
  }
}

.nav-item--disabled {
  background-color: var(--nav-item-disabled);
  pointer-events: none;
  cursor: not-allowed;
  color: var(--nav-item-disabled-text-clr);

  svg {
    color: var(--nav-item-disabled-icon-clr);
  }
}
