@use "./../abstracts/_index" as ab;

.fdt__table,
.service-summary__table,
.fdt__sort {
  margin-top: ab.rem(24);
}

.fdt__productivity {
  margin-block: ab.rem(48);
}

.fdt__sort {
  display: flex;
  flex-direction: column;
  gap: ab.rem(24);

  @include ab.mq("md") {
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .fdt__divider {
    margin: ab.rem(12) 0;
  }

  &__form {
    flex-grow: 1;
    max-width: ab.rem(400);
  }
}

.fdt__instructions {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: ab.rem(12);
}
