@use "./../abstracts/_index" as ab;

.fdt__table,
.service-summary__table,
.fdt__sort {
  margin-top: ab.rem(24);
}

.fdt__productivity {
  margin-block: ab.rem(48);
}

.fdt__divider {
  margin: ab.rem(12) 0;
}

.fdt__sort {
  display: flex;
  flex-direction: column;
  gap: ab.rem(24);

  @include ab.mq("md") {
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .fdt__divider {
    margin: ab.rem(12) 0;
  }

  &__form {
    flex-grow: 1;
    max-width: ab.rem(400);
  }
}

@media print {
  .fdt__sort {
    display: none !important;
  }

  .fdt__main {
    --padding: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  .fdt__productivity {
    margin-block: ab.rem(24) !important;
  }
}
