@use "./../abstracts/_index" as ab;

.fdt__table,
.service-summary__table,
.fdt__sort {
  margin-top: ab.rem(24);
}

.fdt__instructions {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: ab.rem(12);
}
