@use "./../abstracts/_index" as ab;

.home__quick-links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(#{ab.rem(240)}, 1fr));
  align-items: stretch;
  gap: var(--spacing-gap);
  width: 100%;
}
