@use "./../abstracts/_index" as ab;

.specials__list {
  margin-top: ab.rem(24);
  display: flex;
  flex-direction: column;
  gap: ab.rem(16);
}

.specials__clear {
  align-self: center !important;
  margin-top: ab.rem(24) !important;
}
