@use "./../abstracts/_index" as ab;

.wastage__table {
  margin-top: ab.rem(16);

  & + & {
    margin-top: ab.rem(24);
  }

  &-other__header {
    text-align: left;
    padding: ab.rem(16);
  }

  &-other__header-cell {
    background-color: var(--table-header-bg-alt);
  }

  &-total-bg {
    background-color: var(--table-header-bg);
    color: var(--table-header-text-clr);
  }
}
