@use "./../../../styles/abstracts/_index" as ab;

.button {
  --padding: #{ab.rem(ab.$project-button-padding)};
  all: unset;
  border-radius: var(--border-radius-small);
  padding: var(--padding);
  overflow: hidden;
  z-index: 0;
  position: relative;
  color: var(--btn-text-clr);
  font-weight: 600;
  line-height: 1;
  width: fit-content;
  cursor: pointer;
  min-width: ab.rem(128);
  transition: border-color var(--transition-duration) ease,
    color var(--transition-duration) ease;

  &::before,
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    transition: opacity var(--transition-duration) ease;
    z-index: -1;
    inset: 0;
    border-radius: inherit;
    box-shadow: inset 0 0 0 2px var(--btn-border-clr);
  }

  &::before {
    background: var(--btn-bg);
    opacity: 1;
  }

  &::after {
    background: var(--btn-hover-bg);
    opacity: 0;
  }

  &:hover::after {
    opacity: 1;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: var(--btn-disabled-bg);
    box-shadow: inset 0 0 0 2px var(--btn-disabled-border-clr);
    color: var(--btn-disabled-text-clr);

    &::before,
    &::after {
      all: unset;
    }
  }

  &:focus,
  &:focus-visible {
    outline: 2px solid var(--clr-primary-400);
  }

  &--enabled {
    background-color: var(--btn-enabled-bg);
    box-shadow: inset 0 0 0 2px var(--btn-border-clr);

    &::before,
    &::after {
      all: unset;
    }
  }
}
