////
/// @group settings-layout
////

/// Defines the standard breakpoints for responsive design.
/// @type map
$breakpoints-map: (
  sm: 320,
  base: 375,
  base-lg: 768,
  md: 1024,
  md-lg: 1200,
  lg: 1440,
  lg-xl: 1920,
  lg-xxl: 2560,
);
