@use "./../functions/_index" as *;
@use "./typography" as *;
@use "sass:map";

////
/// @group settings-typography
////

/// Typography font scale
/// This scale includes font size calculations for text based on viewport width and other settings
/// @type map
$typography-scale-map: (
  body: sizeClamp(rem($font-root-size), rem($font-base-size)),
  heading: (
    small: sizeClamp(rem(calc($font-title-size-sm)), rem($font-title-size)),
    medium: sizeClamp(rem(calc($font-title-size)), rem($font-heading-size)),
  ),
);
