@use "./../abstracts/_index" as ab;

.main-content {
  padding: var(--spacing-gap);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-gap);
  flex: 1;
  min-width: 0;
  box-sizing: border-box;

  @media print {
    padding: 0 !important;
    display: block !important;
    flex-direction: unset !important;
    gap: 0 !important;
  }
}
