@use "./../../../../styles/abstracts/_index" as ab;

.form {
  display: flex;
  flex-direction: column;
  gap: ab.rem(16);
  width: 100%;
  min-width: 0;

  @include ab.mq(850) {
    flex-direction: row;
  }
}

.select {
  flex: 1;
  min-width: 0;
}

.add__button {
  justify-self: flex-end;
}
