@use "./../../../styles/abstracts/_index" as ab;

.card__outer {
  background: var(--card-glass-bg);
  border: 1px solid var(--card-glass-border-clr);
  border-radius: var(--border-radius-large);
  backdrop-filter: var(--bg-blur);
  padding: ab.rem(8);
  box-shadow: var(--shadow-card);
  display: flex;
  gap: ab.rem(8);

  @include ab.mq("md") {
    padding: ab.rem(12);
    gap: ab.rem(12);
  }
}

.card__grow {
  flex: 1;
}

.card__inner {
  --padding: var(--spacing-gap);
  background: var(--card-bg);
  border: 2px solid var(--card-border-clr);
  border-radius: var(--border-radius-medium);
  padding: var(--padding);
  box-shadow: var(--shadow-card-inner);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &--padding-small {
    --padding: #{ab.rem(16)};
  }

  &--padding-medium {
    --padding: #{ab.rem(24)};
  }

  &--padding-large {
    --padding: #{ab.rem(32)};
  }
}

@media print {
  .card__outer,
  .card__inner {
    border-radius: 0 !important;
    box-shadow: none !important;
    padding: 0;
  }
}
