@use "./../../../styles/abstracts/_index" as ab;

.intro {
  @include ab.mq("md") {
    text-align: center;
  }
}

.title {
  margin-bottom: ab.rem(8);
}

.crib {
  margin-top: ab.rem(24);
}

.keys {
  &__intro {
    text-align: center;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: ab.rem(16);
    width: 100%;
    margin-top: ab.rem(16);

    @include ab.mq("md") {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    @include ab.mq("md-lg") {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__container {
    justify-content: flex-start;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: ab.rem(4);
  }

  &__title {
    margin-bottom: ab.rem(4);
    font-size: ab.rem(24);
    font-weight: 800;
    text-transform: uppercase;
    font-family: var(--ff-roboto-condensed);
  }

  &__divider {
    margin-block: ab.rem(8);
  }

  &__item {
    font-size: ab.rem(16);
    display: flex;
    gap: ab.rem(6);
    align-items: center;
  }

  &__label {
    display: flex;
    align-items: center;
    width: fit-content;
    border-radius: ab.rem(8);
    gap: ab.rem(4);
    padding: ab.rem(4) ab.rem(6);
    background-color: var(--input-border-clr);

    &::before {
      content: "";
      width: ab.rem(12);
      height: ab.rem(12);
      background-color: red;
      border-radius: ab.rem(3);
      display: inline-block;
    }

    &--success {
      &::before {
        background-color: var(--clr-success);
      }
    }

    &--warning {
      &::before {
        background-color: var(--clr-warning);
      }
    }

    &--failed {
      &::before {
        background-color: var(--clr-fail);
      }
    }
  }
}

.productivity__table {
  border: none;

  tr:not(:first-child) {
    margin-top: ab.rem(12);
  }

  tr {
    border: 3px solid var(--table-border-clr);
    border-top-left-radius: var(--border-radius-base);
    border-top-right-radius: var(--border-radius-base);
    flex: nowrap;
    flex-direction: column;
  }

  tr td:first-child {
    background-color: var(--table-border-clr);
    font-weight: bold;
    color: var(--table-header-text-clr);

    &::before {
      display: none;
    }
  }

  td {
    text-align: left;
    display: block;
    padding: ab.rem(12);

    &::before {
      background-color: transparent;
      color: inherit;
      padding: 0;
    }
  }

  @include ab.mq("md") {
    border: 3px solid var(--table-border-clr);
    overflow: hidden;

    thead {
      display: table-header-group;
    }

    th {
      padding: ab.rem(12);
    }

    tr {
      display: table-row;
      flex-direction: initial;
      overflow: visible;
    }

    tr td:first-child {
      background-color: var(--table-cell-bg);
      color: inherit;
      font-weight: normal;

      &::before {
        display: none;
      }
    }

    td {
      display: table-cell;
      padding: ab.rem(12);
      text-align: center;

      &::before {
        content: none;
      }
    }
  }
}
