@use "./../abstracts/settings/colors" as c;

:root {
  @each $color-name, $color-shades in c.$project-colors {
    @each $shade, $color-value in $color-shades {
      --clr-#{$color-name}-#{$shade}: #{$color-value};
    }
  }

  --clr-warning: orange;
  --clr-success: lime;
  --clr-fail: red;

  /* GLASSMORPHISM & BORDER */
  --bg-glass: hsl(from var(--clr-white-400) h s l / 0.75);
  --border-clr: hsla(0, 0%, 100%, 0.8);
  --card-glass-bg: hsla(0, 0%, 100%, 0.3);
  --card-glass-border-clr: hsla(0, 0%, 100%, 0.5);

  /* CARD */
  --card-bg: hsla(0, 0%, 100%, 0.66);
  --card-border-clr: hsla(0, 0%, 100%, 90%);

  /* INPUTS */
  --input-bg: hsla(0, 0%, 100%, 0.9);
  --input-border-clr: hsla(0, 0%, 19%, 0.1);
  --input-text-clr: var(--clr-secondary-400);
  --input-text-clr-focus: var(--clr-black-400);

  /* TEXT */
  --text-clr: var(--clr-black-400);

  /* NAV ITEMS */
  --nav-item-bg: hsla(0, 0%, 100%, 0.5);
  --nav-item-border-clr: hsla(0, 0%, 100%, 0.4);
  --nav-item-hover-bg: hsla(0, 0%, 100%, 0.9);
  --nav-item-hover-border-clr: hsla(0, 0%, 100%, 0.9);
  --nav-item-icon-clr: hsla(0, 0%, 7%, 0.1);
  --nav-item-icon-clr-hover: var(--clr-primary-400);

  /* DIVIDER */
  --divider-bg: hsla(0, 0%, 0%, 0.075);

  /* BUTTONS */
  --btn-bg: linear-gradient(
    285.83deg,
    var(--clr-primary-400) 31.48%,
    var(--clr-primary-500) 90.08%
  );
  --btn-text-clr: var(--clr-white-400);
  --btn-border-clr: hsla(0, 0%, 100%, 1);
  --btn-hover-bg: linear-gradient(
    285.83deg,
    var(--clr-primary-500) 31.48%,
    var(--clr-primary-700) 90.08%
  );

  --btn-disabled-bg: hsla(0, 0%, 78%, 33%);
  --btn-disabled-text-clr: hsla(0, 0%, 63%, 95%);
  --btn-disabled-border-clr: hsla(0, 0%, 63%, 10%);

  --btn-enabled-bg: hsla(218, 28%, 34%, 50%);

  /* TABLES */
  --table-border-clr: var(--clr-black-400);
  --table-header-text-clr: var(--clr-white-400);
  --table-cell-bg: var(--clr-white-400);
  --table-cell-text-clr: var(--clr-black-400);
}

[data-theme="dark"] {
  /* GLASSMORPHISM & BORDER */
  --bg-glass: hsla(0, 0%, 0%, 0.3);
  --border-clr: hsla(0, 0%, 100%, 0.3);
  --card-glass-bg: hsla(0, 0%, 100%, 20%);
  --card-glass-border-clr: hsla(0, 0%, 100%, 0.3);

  /* CARD */
  --card-bg: hsla(214, 59%, 5%, 0.46);
  --card-border-clr: hsla(0, 0%, 100%, 22.5%);

  /* INPUTS */
  --input-bg: hsla(0, 0%, 0%, 0.2);
  --input-border-clr: hsla(0, 0%, 100%, 0.15);
  --input-text-clr: var(--clr-secondary-200);
  --input-text-clr-focus: var(--clr-white-400);

  /* TEXT */
  --text-clr: var(--clr-white-400);

  /* NAV ITEMS */
  --nav-item-bg: hsla(0, 0%, 100%, 0.1);
  --nav-item-border-clr: hsla(0, 0%, 100%, 0.1);
  --nav-item-hover-bg: hsla(0, 0%, 100%, 0.4);
  --nav-item-hover-border-clr: hsla(0, 0%, 100%, 0.2);
  --nav-item-icon-clr: hsla(0, 0%, 100%, 0.75);
  --nav-item-icon-clr-hover: hsla(0, 0%, 100%, 0.95);

  /* DIVIDER */
  --divider-bg: hsla(0, 0%, 100%, 0.17);

  /* BUTTONS */
  --btn-border-clr: hsla(0, 0%, 100%, 0.1);

  /* TABLES */
  --table-border-clr: var(--clr-black-700);
  --table-header-text-clr: var(--clr-white-400);
  --table-cell-bg: #1d212c;
  --table-cell-text-clr: var(--clr-white-400);

  --clr-warning: #ffa726; // darker orange
  --clr-success: #9ccc65; // olive-ish lime
  --clr-fail: #ef5350; // soft red

  color-scheme: dark;

  .bg-clr {
    &--warning {
      color: var(--table-border-clr);
    }
    &--success {
      color: var(--table-border-clr);
    }
    &--failed {
      color: var(--table-border-clr);
    }
  }
}

.bg-clr {
  &--warning {
    background-color: var(--clr-warning);
  }
  &--success {
    background-color: var(--clr-success);
  }
  &--failed {
    background-color: var(--clr-fail);
    outline: 1px solid transparent;
  }
}
