@use "./../abstracts/_index" as ab;

.form__wrapper {
  flex-direction: column;
}

.form__container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: ab.rem(16);
  width: 100%;
  min-width: 0;
}

.form__row {
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  gap: ab.rem(16);
  width: 100%;

  @include ab.mq("md") {
    grid-template-columns: 1fr 1fr;
  }
}

.form__field--short {
  max-width: ab.rem(220);
  width: 100%;
}

.form__label {
  display: flex;
  gap: ab.rem(8);
  align-items: center;

  &-text {
    font-weight: 600;
  }

  &-small-text {
    color: var(--clr-secondary-400);
    font-size: 1rem;

    [data-theme="dark"] & {
      color: var(--clr-grey-600);
    }
  }

  &--required {
    color: var(--clr-accent-400);
  }
}

.form__input {
  display: flex;
  flex-direction: column;
  gap: ab.rem(8);
  min-width: 0;
  flex: 0 0 auto;

  input:not([type="checkbox"]),
  textarea,
  select {
    width: 100%;
  }

  &--small {
    gap: ab.rem(4);
  }

  &--checkbox {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: ab.rem(12);
  }

  &--row {
    flex-direction: row;

    input,
    select {
      flex-grow: 1;
    }
  }
}

.form__checkbox-label {
  flex-wrap: wrap;
  column-gap: ab.rem(8);
  row-gap: 0;
}
