@use "./../abstracts/_index" as ab;

.form__container,
.form__wrapper {
  display: flex;
  flex-direction: column;
  gap: ab.rem(16);
}

.form__row {
  display: flex;
  gap: ab.rem(16);
  flex-wrap: wrap;
}

.form__label {
  display: flex;
  gap: ab.rem(8);
  align-items: center;

  &-text {
    font-weight: 600;
  }

  &-small-text {
    color: var(--clr-secondary-400);
    font-size: 1rem;

    [data-theme="dark"] & {
      color: var(--clr-grey-600);
    }
  }

  &--required {
    color: var(--clr-accent-400);
  }
}

.form__input {
  display: flex;
  flex-direction: column;
  gap: ab.rem(8);

  &--small {
    gap: ab.rem(4);
  }

  &--checkbox {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &--row {
    flex-direction: row;

    input,
    select {
      flex-grow: 1;
    }
  }
}

.form__checkbox-label {
  flex-wrap: wrap;
  column-gap: ab.rem(8);
  row-gap: 0;
}
