@use "./../abstracts/_index" as ab;

:root {
  --spacing-gap: #{ab.sizeClamp(ab.rem(20), ab.rem(40))};
}

html,
body {
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

.container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  @include ab.mq("base-lg") {
    flex-direction: row;
  }

  @media print {
    display: block !important;
    flex-direction: unset !important;
    gap: 0 !important;
    position: static !important;
    padding: 0 !important;
  }
}
