@use "./../abstracts/_index" as ab;

:root {
  --spacing-gap: #{ab.rem(40)};
}

html,
body {
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

.container {
  display: flex;
  height: 100%;
}
