@use "./../abstracts/_index" as ab;

input:not([type="checkbox"]):not([type="radio"]),
textarea,
select {
  background-color: var(--input-bg);
  border: ab.rem(1) solid var(--input-border-clr);
  padding: ab.rem(12) ab.rem(14);
  border-radius: var(--border-radius-small);
  color: var(--input-text-clr);
  line-height: 1.3;
  min-height: ab.rem(48);

  ::placeholder {
    color: var(--clr-grey-400);
  }

  &:focus-visible {
    color: var(--input-text-clr-focus);
  }
}

textarea {
  resize: vertical;
  line-height: 1.45;
  min-height: ab.rem(120);
}

input[type="checkbox"] {
  appearance: auto;
  width: ab.rem(20);
  height: ab.rem(20);
  min-width: ab.rem(20);
  min-height: ab.rem(20);
  margin: 0;
  padding: 0;
  flex-shrink: 0;
  accent-color: var(--clr-primary-400);
  cursor: pointer;
}

select > option {
  background: var(--select-dropdown-bg);
}

.input--small {
  padding: ab.rem(12);
  font-size: ab.rem(16);
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
