@use "./../abstracts/_index" as ab;

input,
textarea,
select {
  background-color: var(--input-bg);
  border: ab.rem(1) solid var(--input-border-clr);
  padding: ab.rem(22);
  border-radius: var(--border-radius-small);
  color: var(--input-text-clr);
  line-height: 1;

  ::placeholder {
    color: var(--clr-grey-400);
  }

  &:focus-visible {
    color: var(--input-text-clr-focus);
  }
}

.input--small {
  padding: ab.rem(12);
  font-size: ab.rem(16);
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
