// @media print {
//   * {
//     outline: 1px solid red; /* show all element boundaries */
//   }
// }

@media print {
  :root {
    --background: white;
  }

  @media print {
    [data-theme="dark"] {
      color-scheme: light !important;
    }
  }

  html,
  body {
    background-color: white !important;
    background-image: none !important;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
    margin: 0;
    padding: 0;
  }

  body {
    visibility: hidden;
    overflow: visible;
  }

  body * {
    box-shadow: none !important;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}
