:root {
  --shadow-sm: 0px 1px 4px rgba(0, 0, 0, 0.05);
  --shadow-sm-hover: 0px 3px 4px rgba(0, 0, 0, 0.075);
  --shadow-card: 0px 7px 12.4px -1px rgba(0, 0, 0, 0.21);
  --shadow-card-inner: 0px 1px 4px rgba(0, 0, 0, 0.15);
}
