@use "./../abstracts/_index" as ab;

.table__wrapper {
  border-radius: var(--border-radius-small);
  overflow: hidden;

  @include ab.mq("md") {
    overflow-x: auto;
  }
}

table {
  text-align: left;
  width: 100%;
  border: 3px solid var(--table-border-clr);
  border-spacing: 0;
  border-radius: var(--border-radius-small);
  padding: 0;

  thead {
    background-color: var(--table-border-clr);
    color: var(--table-header-text-clr);
    font-weight: bold;
    display: none;

    @media print {
      background-color: var(--table-border-clr);
      color: var(--table-header-text-clr);
    }
  }

  tr {
    display: flex;
    flex-wrap: wrap;
    border-bottom-left-radius: var(--border-radius-small);
    border-bottom-right-radius: var(--border-radius-small);
    overflow: hidden;
  }

  td {
    background-color: var(--table-cell-bg);
    color: var(--table-cell-text-clr);
    border: 0;
    box-shadow: 0 0 0 3px var(--table-border-clr);
    line-height: 1;
    display: flex;
    flex-direction: column;
    padding: 0;
    flex-grow: 1;
    text-align: center;

    &::before {
      background-color: var(--table-border-clr);
      color: var(--table-header-text-clr);
      font-weight: bold;
      content: attr(data-cell);
      padding: ab.rem(12);
    }

    .cell__value {
      padding: ab.rem(12);
    }
  }

  @include ab.mq("md-lg") {
    text-align: center;
    overflow: hidden;

    thead {
      display: table-header-group;
      width: 100%;
    }

    th {
      padding: ab.rem(12);
    }

    tr {
      display: table-row;
      width: 100%;
    }

    td {
      display: table-cell;
      padding: 0;
      flex-grow: 0;

      &::before {
        content: none;
      }

      .cell__value {
        display: block;
        padding: ab.rem(12);
      }
    }
  }

  @media print {
    border-collapse: collapse;
  }
}
