@use "./../abstracts/_index" as ab;

.table__wrapper {
  border-radius: var(--border-radius-small);
  overflow: hidden;

  @include ab.mq("md") {
    overflow-x: auto;
  }

  @media print {
    overflow: visible;
    border-radius: 0;
  }
}

table {
  text-align: left;
  width: 100%;
  border: 3px solid var(--table-border-clr);
  border-spacing: 0;
  border-radius: var(--border-radius-small);
  padding: 0;
  text-align: center;
  overflow: hidden;

  thead {
    background-color: var(--table-border-clr);
    color: var(--table-header-text-clr);
    font-weight: bold;
  }

  th {
    padding: ab.rem(12);
  }

  td {
    background-color: var(--table-cell-bg);
    color: var(--table-cell-text-clr);
    border: 0;
    box-shadow: 0 0 0 3px var(--table-border-clr);
    line-height: 1;
    padding: ab.rem(12);
    flex-grow: 1;
    text-align: center;

    .cell__value {
      display: block;
      padding: ab.rem(12);
    }
  }

  @media print {
    text-align: center;
    overflow: visible;
    border-radius: 0 !important;
    border-collapse: collapse;

    thead {
      display: table-header-group;
      width: 100%;
      background-color: var(--table-border-clr);
      color: var(--table-header-text-clr);
    }

    th {
      padding: ab.rem(12);
    }

    tr {
      display: table-row;
      width: 100%;
      border-radius: 0 !important;
    }

    td {
      display: table-cell;
      padding: 0;
      flex-grow: 0;
      box-shadow: none;
      border: 3px solid var(--table-border-clr);

      &::before {
        content: none;
      }

      .cell__value {
        display: block;
        padding: ab.rem(12);
      }
    }
  }
}
